[submodule "vendor/macrodeck-app"]
	path = vendor/macrodeck-app
	url = git@github.com:ziggythehamster/macrodeck-app.git
[submodule "vendor/rturk"]
	path = vendor/rturk
	url = git@github.com:ziggythehamster/rturk.git
